.ctdn-button {
    font-size: 2.5em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%);

    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 9px 30px;
    margin: 2px 0px;
    filter: drop-shadow(0px 3px 1px black);
    user-select: none;

    font-family: 'MinecraftTen';
}

.ctdn-button:active {
    transform: translateX(-50%) translateY(1px);
}

.ctdn-button:hover {
    background-color: var(--button-hover-color);
}

.title-container {
    display: flex;
}

.syllica-logo {
    height: 1.3em;
    vertical-align: middle;
    margin: 0px 13px;
}

.img-container {
    width: 100%;
    height: 100%;
}

.indoor-content {
    filter: blur(7px) brightness(0.2);
    transform: scale(0.8);
    height: 100%;
}

.content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(1px) brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.true-foreground.visible {
    filter: none;
    transform: translateX(-50%);

    opacity: 1;

    transition: filter 2s, transform 2s, opacity 1s;
}

.true-foreground {
    position: absolute;
    top: 50%; left: 50%;

    transform: translateX(-50%) scale(0.8);
    filter: blur(7px) brightness(0.2);

    opacity: 0;

    width: 100%;
}

.countdown {
    font-size: 9em;
}

.release-title {
    font-size: 4em;
}

@media only screen and (max-width: 840px) {
    .countdown {
        font-size: 4em;
    }
}

@media only screen and (max-width: 530px) {
    .release-title {
        font-size: 2.5em;
        margin-top: 60px;
    }

    .ctdn-button {
        font-size: 1.9em;
    }
}